* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.linkStyle {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.font500 {
    font-weight: 500;
    font-size: 1.2rem;
}

.TopBar {
    height: 10vh;
    padding-top: 2em;
    padding-left: 1em;
}

.TopBarListElement {
    padding-left: 2.5em;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.topbarSection2 {
    padding-right: 1em;
}

.ButtonStyle {
    background-color: #0061ff;
    border: none;
    padding: 7px 20px;
    text-decoration: none;
}

.white {
    color: white;
}



.sezione_inferioreHeader {
    height: 90vh;
    background-color: #b4d0e7;
    width: 100%;
}

.container80 h1 {
    font-size: 5.6rem;
    padding-top: 6rem;
    font-weight: 900;
}

.container80 {
    max-width: 80%;
    margin: auto;
}

.jumbo {
    float: left;
    max-width: calc(70% - 5em);
}

.jumboimg {
    height: 60vh;
    object-fit: fill;
}

.jumboDescription {
    max-width: 30%;
    float: left;
    height: 45vh;
    margin-right: 5em;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.padding_imgDescription {
    padding-top: 3rem;
}

.fa-arrow-down {
    font-size: 3em;
}

.jumboDescription p {
    margin-bottom: 1em;
}

.jumboDescription div {
    margin-top: 1em;
}

.jumboDescription i {
    margin-top: 1em;
}

main {
    max-width: 65%;
    margin: auto;
}

.Section1main {
    margin-top: 25vh;
}

.Titlefont {
    font-weight: 900;
    font-size: 3rem;
}

.circle {
    border-radius: 50%;
    margin-left: 5px;
    display: inline-block;
    color: white;
}

.cerchioAzzurro {
    border: 4px solid #0061ff;
    line-height: 14px;
    width: 22px;
}

.cerchioBianco {
    border: 1px solid gray;
    width: 21px; 
    line-height: 19px;
}

.checkboxDiv {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.PlanContainer {
    border: 1px solid grey;
    float: left;
    width: calc((100% - 10em) / 3);
    height: 110vh;
}

.middlePlanContainer {
    margin-left: 5em;
    margin-right: 5em;
}

.textCenter {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.font9002 {
    font-weight: 900;
    font-size: 1.7em;
}

.font9003 {
    font-weight: 900;
    font-size: 1em;
}

.font500s {
    font-weight: 500;
    font-size: 1em;
}

.fontgray1em {
    color: rgb(163, 163, 163);
    font-size: 1em;
}

.linkUnderline {
    color: #0464ff;
    text-decoration: underline #85c8ff;
}

.hrwidth {
    width: 20%;
}

.check {
    color: #0061ff;
    font-weight: 500;
}

.font500s {
    font-weight: 500;
    font-size: 1em;
}

.vertical-middle {
    vertical-align: middle;
}

.margin1-5 {
    margin-top: 1.5em;
}

.PlanEnterprise {
    width: 100%;
    border: 1px solid gray;
    margin: auto;
    margin-top: 3em;
}

.Team {
    border-bottom: 1px solid gray;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.enterpriseDescription {
    max-width: 70%;
}

.Team i {
    margin-bottom: 1em;
}







.partnerDiv {
    max-width: 60%;
    margin-right: 3em;
}

.partnerDropbox {
    height: 60vh;
    object-fit: cover;
}

.DescriptionPartner {
    max-width: 40%;
}

.partner {
    margin-top: 45vh;
    height: 70vh;
}

.fontPartner {
    font-weight: 900;
    font-size: 1.8em;
    margin-top: 1.5em;
}

.button2 {
    border: 1px solid black;
    padding: 0.5em 1em;
    color: black;
    text-decoration: none;
}







.titoloOperazioni {
    font-weight: 900;
    font-size: 3rem;
}

.operazione {
    max-width: calc((100% - 10em) / 3);
    margin-top: 5vh;
}

.operazioneImg {
    object-fit: cover;
    height: 30vh;
}


.middleOperazioni {
    margin-left: 5em;
    margin-right: 5em;
}

.sezioneClienti {
    margin-top: 5vh;
}

.titoloClienti {
    margin-bottom: 3vh;
}

.sezioneClienti {
    width: 100%;
    height: 60vh;
    background-color: chartreuse;
}

.mid {
    width: 40%;
    background-color: #f5f5f5;
    height: 60vh;
}

.col {
    width: 30%;
    background-color: chocolate;
    height: 60vh;
}

.cliente {
    width: 50%;
    height: 30vh;
    background-color: darkgreen;
    border: 1px solid black;
    position: relative;
}

.width85 {
    width: 85%;
    margin: auto;
}

.width85 img {
    width: 30%;
    margin-top: 5em;
    margin-bottom: 2em;
}

.width85 hr {
    width: 10%;
    color: black;
    height: 1px;
    margin-bottom: 3em;
}

.width85 p {
    margin-bottom: 3em;
}

.whitesvg {
    filter: invert(1);
    width: 50%;
    transform-origin: center;
    position: absolute;
    left: 25%;
}

.top1 {
    top: 40%;
}
.top2 {
    top: 30%;
}
.top3 {
    top: 50%;
}
.top4 {
    top: 40%;
}
.top5 {
    top: 40%;
}
.top6 {
    top: 50%;
}
.top7 {
    top: 40%;
}
.top8 {
    top: 35%;
}

.portaDropbox{
    width: 100%;
    height: 40vh;
    background-color: #b4d0e7;
    color: #61082b;
    float: left;
}

.portaDropbox h1 {
    font-weight: bolder;
    font-size: 3em;
    width: 50%;
    float: left;
}

.iniziaProva {
    padding:0.5em 5em;
    text-decoration: none;
    color: black;
    background-color: white;
    float: right;
}

.width {
    width: 65%;
    margin: 15vh auto;
}


/*
#a2d39b
#d0e9cd

#61082b
#0093ce
#ff1c1c

#d5001f
#b4d0e7
#0d2481
#ffd830
*/